@import "../node_modules/ol/ol.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html,
body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #2a2b2a;
}

*:focus {
  outline: none;
}
h1 {
  pointer-events: none;
  position: relative;
  text-align: center;
  z-index: 99;
  color: white;
  text-shadow: 0 0 3px #000;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.tooltip {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}

#layerControl {
  z-index: 99;
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
#search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  z-index: 99;
}
#search-box {
  width: 200px;
  padding: 8px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #2a2b2a;
  color: white;
}
::placeholder {
  color: white;
}

#suggestions:after,
#search-container:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: 19px solid transparent;
  border-image: url(./corners.png) 24;
  pointer-events: none;
}
#suggestions {
  background-color: white;
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  min-width: 250px;
  background: #2a2b2a;
  top: 40px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}
.suggestion-item {
  padding: 5px 10px;
  border-top: 1px solid #4b4b4b;
}

.suggestion-item:hover {
  background: #3a3b3a;
  cursor: pointer;
}

.suggestion-item:first-child {
  border-top: none;
}

#legend {
  background: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
}

.legend-item {
  padding: 10px;
  position: relative;
  padding-left: 30px;
}

.legend-item:hover {
  cursor: pointer;
  background-color: #ccc;
  z-index: 999;
}

.ping {
  animation: ping-animation 1s infinite;
}

@keyframes ping-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#room-info {
  position: absolute;
  display: none;
  top: 60px;
  left: 10px;
  padding: 10px;
  z-index: 99;
  max-width: 400px;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  background: #404040;
  max-height: 80vh;
  border-radius: 5px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 3px;
}

#room-info h3{
  text-align: center;
  border-bottom: 2px solid white;
}

.result-item {
  margin-bottom: 15px;
}
.result-item a,
.result-item:visited,
.result-item a:active {
  color: white;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}
.result-item p {
  margin: 0px 0;
}

.result-item img {
  width: 14px;
}
.icon {
  position: absolute;
  top: -14px;
  left: -18px;
  transform: scale(0.35);
}

/* 
.icon-storage-rift { background-position: calc( -68.2px * 9 ) calc( -69px * 2 )}

.icon-portal-stone { background-position: calc( -68.2px * 8 ) calc( -69px * 2 ) } */

.hidden {
  display: none;
}


#copy-button {
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 999;
  border-radius: 5px;
}
#copy-button:hover {
  background-color: #ddd;
}
#copied-message {
  position: absolute;
  top: 10px;
  left: 180px;
  z-index: 999;
  color: white;
  text-shadow: 0px 0px 2px black;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}